LibVersions/AutoRemoval/truffle/build/
LibVersions/PostRemoval/truffle/build/
LibVersions/PointerWithMins/truffle/build/

LibVersions/AutoRemoval/truffle/node_modules/
LibVersions/PostRemoval/truffle/node_modules/
LibVersions/PointerWithMins/truffle/node_modules/
